/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  width: 250px;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Fredoka One';
  background-color: #fff;
}

img {
  max-width: 100%;
  // height: auto;
  vertical-align: middle;
  margin-bottom: 30px;
}

.heading {
  font-family: 'Fredoka One';
  font-weight:400;
}